Django
factory-boy
django-simple-history
django-rest-framework
django-js-reverse
corsheaders
# djangorestframework-httpsignature
# httpie
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django-crypto-fields
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
git+https://github.com/erikvw/django-revision@develop#egg=django-revision
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-rest@develop#egg=edc-rest
