Django==1.6
M2Crypto==0.22.3
django-tastypie==0.12.2
django_extensions
python-dateutil
django_databrowse
numpy
Unipath
GitPython
factory-boy
pytz
pyodbc
pycups
git+https://github.com/botswana-harvard/edc-audit@master#egg=edc-audit
git+https://github.com/botswana-harvard/edc-appointment@master#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-base@master#egg=edc-base
git+https://github.com/botswana-harvard/edc-configuration@master#egg=edc-configuration
git+https://github.com/botswana-harvard/edc-content-type-map@master#egg=edc-content_type_map
git+https://github.com/botswana-harvard/edc-consent@master#egg=edc-consent
git+https://github.com/botswana-harvard/edc-constants@master#egg=edc-constants
git+https://github.com/botswana-harvard/edc-crypto-fields@develop#egg=edc-crypto-fields
git+https://github.com/botswana-harvard/edc-data-dictionary@develop#egg=edc-data-dictionary
git+https://github.com/botswana-harvard/edc-data-manager@master#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-device@master#egg=edc-device
git+https://github.com/botswana-harvard/edc-export@master#egg=edc-export
git+https://github.com/botswana-harvard/edc-identifier@master#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab@master#egg=edc-lab
git+https://github.com/botswana-harvard/edc-locator@master#egg=edc-locator
git+https://github.com/botswana-harvard/edc-meta-data@master#egg=edc-meta-data
git+https://github.com/botswana-harvard/edc-notification@master#egg=edc-notification
git+https://github.com/botswana-harvard/edc-offstudy@master#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-quota@master#egg=edc-quota
git+https://github.com/botswana-harvard/edc-registration@master#egg=edc-registration
git+https://github.com/botswana-harvard/edc-rule-groups@master#egg=edc-rule-groups
git+https://github.com/botswana-harvard/edc-testing@master#egg=edc-testing
git+https://github.com/botswana-harvard/edc-visit-schedule@master#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking@master#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/lab-requisition@master#egg=lab-requisition
git+https://github.com/botswana-harvard/lis@master#egg=lis
git+https://github.com/erikvw/django-revision@master#egg=django-revision
