Django
Unipath
django-tastypie
django_extensions
factory-boy
django-simple-history
# git+https://github.com/botswana-harvard/django-simple-history@master#egg=django_simple_history
git+https://github.com/botswana-harvard/django-crypto-fields@develop#egg=django-crypto-fields
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
git+https://github.com/erikvw/django-revision@develop#egg=django-revision
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
