<div id='id-transfer-div' class="panel panel-info">
	<div class="panel-heading">
 		Transactions <div id="id-div-resource-alert"></div><span id="id-tx-spinner" class="fa fa-refresh pull-right"></span>
 		<span class="clearfix"></span>
	</div>
	<div class="clearfix"></div>
	<div class="panel-body">
		<span id="">Pending Transactions</span>
		<span id="id-pending-transactions" class="badge">0</span>
		<button id="btn-sync" type="button" class="btn btn-warning pull-right">Transfer Data</button>
	</div>
	<span id="id-sync-status"></span>
 </div>
 
 
 <div id='id-in-progress-div' class="panel panel-default" style="display: none">
	<div class="panel-heading">
		Syncying Transactions
	</div>
	<div class='alert alert-warning' id="progress-status-div">
 		File transfer in progress, Please wait. <div id="id-div-resource-alert"></div>
	</div>
	<table class="table table-bordered" id='id-file-table'>
	    <thead>
	      <tr>
	      	<th></th>
	        <th>File</th>
	        <th>Size</th>
	        <th>Status</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
 </div>
 
 <div class="container">
  <!-- Trigger the modal with a button -->
  <button id="btn-progress" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#progressModel" style="display:none"></button>

  <!-- Modal -->
  <div class="modal fade" id="progressModel" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>.....</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-approve" class="btn btn-default">Approve</button> <!-- data-dismiss="modal" -->
        </div>
      </div>
    </div>
  </div>
</div>
 