
<!-- begin edc_sync_files-->
<div class="panel panel-default">
  <div class="panel-heading">
    <button id="id-files-transfer-btn" class="btn btn-default">Send Data To Server</button><i id="id-files-spinner" class="fa fa-refresh pull-right"></i>
  </div>

  <div id="id-files-transfer-status" class="panel-body">
    <p> Found <strong><span id="tx_files" style="margin-left:3px;">(loading..)</span></strong> transaction files..<strong><span id="pending_tx" class="alert-info"></span></strong></p>
    <p> Found <strong><span id="total_media" style="margin-left:3px;">(loading..)</span></strong> media files..<span id="pending_media" class="alert-info"></span></p>
  </div>
  <div id="id-files-progress-title" class="alert alert-info" style="display:none"> Wait until transferring is done.</div>
</div>
<!-- end edc_sync_files-->
