{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}

{{ block.super }}

  <!-- begin edc-sync extra-scripts -->
  <script type="text/javascript" charset="utf8" src="{% static "edc_sync/js/edc_sync.js" %}"></script>
  <script type="text/javascript" charset="utf8" class="init">
      $(document).ready( function() {
    	  edcSyncReady('{{ hosts|escapejs }}', '{{ user.username }}', '{{ api_token }}');
      });
  </script>
  <!-- end edc-sync extra-scripts -->
{% endblock extra-scripts %}

{% block main %}
<div class="container">

    <div id="div-home-right" class="col-md-8">
        <div class="panel panel-default">
            <ul id="nav-pill-host" class="nav nav-pills nav-stacked">
                <li><a href="#">{{ edc_sync_role|title }}: {{ hostname }} <span class="pull-right">{{ ip_address }}</span></a></li>
            </ul>
        </div>
        {% if edc_sync_role == 'server' %}
        <div class="panel panel-default">
            {% if edc_sync_role == 'server' %}
                <div class="panel-heading">Client Resources
                <a id="link-refresh-clients" title="click to refresh" href=""><i id="bdg-refresh-clients" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
                </div>
                <div id="id-div-resource-alert"></div>
                {% if user.is_authenticated %}
                  <ul id="id-nav-pill-resources" class="nav nav-pills nav-stacked">
                  </ul>
                {% endif %}
                <div class="panel-heading">Incoming Transactions
                <a id="link-refresh-self" href=""><i id="bdg-refresh-self" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
                </div>
                {% if user.is_authenticated %}
                  <ul id="id-nav-pill-apply" class="nav nav-pills nav-stacked" style="text-transform: capitalize;">
                  </ul>
                {% endif %}
                
            {% elif edc_sync_role == 'client' %}
            {% else %}
                <div class="panel-heading">Resources</div>
                <div class="alert alert-danger text-center">Edc-Sync role undefined. See AppConfig.</div>
            {% endif%}
        </div>
  
        {% endif%}
    </div>

    <div id="div-home-middle" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Administration</div>
            <ul id="nav-pill-admin" class="nav nav-pills nav-stacked">
                <li><a href="{% url 'edc-sync:edc_sync_admin:index'%} ">{{ edc_sync_admin.index_title }}</a></li>
                {% if edc_sync_role == 'server' %}
                    <li><a href="{% url 'edc-sync:edc_sync_admin:edc_sync_client_changelist'%} ">Clients</a></li>
                {% elif edc_sync_role == 'client' %}
                    <li><a href="{% url 'edc-sync:edc_sync_admin:edc_sync_server_changelist'%} ">Servers</a></li>
                {% endif %}
                <li><a href="{% url 'edc-sync:edc_sync_admin:authtoken_token_changelist'%} ">User Tokens</a></li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">API</div>
                {% if user.is_authenticated and api_token == None %}
                    <div class="alert alert-danger text-center">Current user '{{ user.username }}' missing API token.</div>
                {% endif %}
                <ul id="nav-pill-api" class="nav nav-pills nav-stacked">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'edc-sync:outgoingtransaction-list' %}?format=json">Show My Outgoingtransaction</a></li>
                    <li><a href="{% url 'edc-sync:incomingtransaction-list' %}?format=json">Show My Incomingtransaction</a></li>
                {% endif %}
                </ul>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">CORS Origin Whitelist (from settings)</div>
            {% if user.is_authenticated %}
              <ul id="id-nav-pill-cors" class="nav nav-pills nav-stacked">
                {% for host in cors_origin_whitelist %}
                    <li><a>{{ host }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
            
    </div><!-- div-home-middle -->

</div>

{% endblock main %}
