{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="{% static "edc_sync1/js/edc_sync.js" %}"></script>

<script type="text/javascript">
$(document).ready(function(){
	function blinker() {
	    $('#progress_title').fadeOut(500);
	    $('#progress_title').fadeIn(500);
	}

	function track_file_transfer(total_media_to_send, total_tx_to_send){
		var transfer_progress = $.ajax({url: "{% url 'transfer_files_url' %}", data: {action: 'track_stats'}, dataType: 'json'}).promise();
		transfer_progress.then(function(results){
			var sent_tx_files = 0;
			if (total_tx_to_send > 1){
				sent_tx_files = total_tx_to_send - results.tx_to_send;
			}else if(total_tx_to_send == 1){
				sent_tx_files = 1;
			}
			
			var sent_media_files = 0 ;
			if (total_media_to_send > 1){
				sent_media_files = total_media_to_send - results.media_to_send;
				console.log(sent_media_files);
			}
			$("#pending_tx").text(sent_tx_files+" sent");
			$("#pending_media").text(sent_media_files+" sent");
			console.log(results.media_files);
			console.log(results.tx_files);
			console.log("media files to send" + results.media_to_send);
			console.log("tx files to send" +results.tx_to_send);
			if (results.media_to_send != 0 || results.tx_to_send != 0){
				track_file_transfer(total_media_to_send, total_tx_to_send); //recurse
			}else{
				$("#tx_spinner").removeClass("fa-spin");
				$("#progress_title").attr("style", "color:green");
				blinker();
				$("#progress_title").text("Pending transactions have been transfered to the server successfully.");
			}
		});
		transfer_progress.fail(function(){
			//errors
			$("#tx_spinner").removeClass("fa-spin");
			$("#progress_title").addClass("alert-danger");
			$("#progress_title").text("Failed to transfer files,(An error has occured), check machine is connected to wifi.");
		});
	}
	
	function transfer_files(){
		var dump_info = $.ajax({url: "{% url 'transfer_files_url' %}", data: {action: 'dump_transactions'}, dataType: 'json'}).promise();

		dump_info.then(function(results){
			console.log("track_file_transfer here, transfer;");
			$("#total_media").text(results.media_to_send);
			$("#tx_files").text(results.tx_to_send);
			
			var transfer = $.ajax({url: "{% url 'transfer_files_url' %}", data: {action: 'transfer'}, dataType: 'json'}).promise();
			transfer.fail(function(){
				$("#progress_title").text("Failed to transfer files, (An error has occured).");
			});
		});
		
		dump_info.then(function(results){
			console.log("track_file_transfer here, get_stats;");
			var get_stats = $.ajax({url: "{% url 'transfer_files_url' %}", data: {action: 'file_statistics'}, dataType: 'json'}).promise();
			get_stats.then(function(results){
				var total_media_to_send = results.media_to_send
				var total_tx_to_send =  results.tx_to_send
				$("#total_media").text(total_media_to_send);
				$("#tx_files").text(total_tx_to_send);
			});
			get_stats.fail(function(){
				$("#progress_title").text("Failed to transfer files,(An error has occured).");
			});
		});

		dump_info.then(function(results){
			var total_media_to_send = results.media_to_send;
			var total_tx_to_send =  results.tx_to_send;
			console.log("track_file_transfer here, track_file_transfer(total_media_to_send, total_tx_to_send);");
			track_file_transfer(total_media_to_send, total_tx_to_send);
		});
		dump_info.fail(function(){
			$("#tx_spinner").removeClass("fa-spin");
			$("#tx_spinner").addClass("alert-danger");
			$("#progress_title").text("Failed to transfer files,(An error has occured), check machine is connected to wifi.");
		});
	}
	
    $("#transfer_btn").click(function(){
    	$("#transfer_status").toggle();
    	$("#progress_title").toggle();
    	$("#progress_title").addClass("alert-info");
    	$("#tx_spinner").addClass("fa-spin");
    	transfer_files();
    	blinker();
    });
    $("#progress_title").toggle();
    $("#transfer_status").toggle();
});
</script>

{% endblock extra-scripts %}

{% block main %}

<div class="container">

    <div id="div-home-right" class="col-md-8">
        <div class="panel panel-default">
            <ul id="nav-pill-host" class="nav nav-pills nav-stacked">
                <li><a href="#">{{ edc_sync_role|title }}: {{ hostname }} <span class="pull-right">{{ ip_address }}</span></a></li>
            </ul>
        </div>
        {% if edc_sync_role == 'server' %}
        <div class="panel panel-default">
            {% if edc_sync_role == 'server' %}
                <div class="panel-heading">Client Resources
                <a id="link-refresh-clients" title="click to refresh" href=""><i id="bdg-refresh-clients" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
                </div>
                <div id="id-div-resource-alert"></div>
                {% if user.is_authenticated %}
                  <ul id="id-nav-pill-resources" class="nav nav-pills nav-stacked">
                  </ul>
                {% endif %}
                <div class="panel-heading">Incoming Transactions
                <a id="link-refresh-self" href=""><i id="bdg-refresh-self" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
                </div>
                {% if user.is_authenticated %}
                  <ul id="id-nav-pill-apply" class="nav nav-pills nav-stacked" style="text-transform: capitalize;">
                  </ul>
                {% endif %}
            {% elif edc_sync_role == 'client' %}
            {% else %}
                <div class="panel-heading">Resources</div>
                <div class="alert alert-danger text-center">Edc-Sync role undefined. See AppConfig.</div>
            {% endif%}
        </div>
        {% endif%}
          
           <!-- <a href="{% url 'transfer_files_url' %}" class="btn btn-default pull-right" style="">Send Transactions To The Server</a> -->
      <!-- begin transfer data-->
		<div class="panel panel-default">
		<div class="panel-heading">
			<button id="transfer_btn" class="btn btn-default">Send Data To Server</button><i id="tx_spinner" class="fa fa-refresh pull-right"></i>
        </div>
		
		<div id="transfer_status" class="panel-body">
			<p> Found <strong><span id="tx_files" style="margin-left:3px;">(loading..)</span></strong> transaction files..<strong><span id="pending_tx" class="alert-info"></span></strong></p>
			<p> Found <strong><span id="total_media" style="margin-left:3px;">(loading..)</span></strong> media files..<span id="pending_media" class="alert-info"></span></p>
		</div>
		<div class="panel-footer" id="progress_title" class="alert alert-success"> Wait until transferring is done.</div>
		</div>
      <!-- end  transfer data-->
    </div>

    <div id="div-home-middle" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Administration</div>
            <ul id="nav-pill-admin" class="nav nav-pills nav-stacked">
                <li><a href="{% url 'edc_sync_admin:index'%} ">{{ edc_sync_admin.index_title }}</a></li>
                {% if edc_sync_role == 'server' %}
                    <li><a href="{% url 'edc_sync_admin:edc_sync_client_changelist'%} ">Clients</a></li>
                {% elif edc_sync_role == 'client' %}
                    <li><a href="{% url 'edc_sync_admin:edc_sync_server_changelist'%} ">Servers</a></li>
                {% endif %}
                <li><a href="{% url 'edc_sync_admin:authtoken_token_changelist'%} ">User Tokens</a></li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">API</div>
                {% if user.is_authenticated and api_token == None %}
                    <div class="alert alert-danger text-center">Current user '{{ user.username }}' missing API token.</div>
                {% endif %}
                <ul id="nav-pill-api" class="nav nav-pills nav-stacked">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'outgoingtransaction-list' %}?format=json">Show My Outgoingtransaction</a></li>
                    <li><a href="{% url 'incomingtransaction-list' %}?format=json">Show My Incomingtransaction</a></li>
                {% endif %}
                </ul>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">CORS Origin Whitelist (from settings)</div>
            {% if user.is_authenticated %}
              <ul id="id-nav-pill-cors" class="nav nav-pills nav-stacked">
                {% for host in cors_origin_whitelist %}
                    <li><a>{{ host }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
            
    </div><!-- div-home-middle -->

</div>
{% endblock main %}

{% block extra-scripts-bottom %}
{{ block.super }}

<script type="text/javascript" charset="utf8" class="init">
    $(document).ready( function() { 
        edcSyncReady('{{ hosts|escapejs }}', '{{ user.username }}', '{{ api_token }}');
    });
</script>

{% endblock extra-scripts-bottom %}
