{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}

{{ block.super }}
    
{% endblock extra-scripts %}

{% block main %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header"><span id='id-producer'>{{producer_name|upper }}</span> Report
                </h4>
            </div>
        </div>
        <!-- /.row -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
            	<div class="panel-heading">
            	  Recent Transactions Files <span id="batch-id"></span>
                </div>
                <div class="panel-body">
					<div class="list-group">
						{% for data, transaction_file in transactions_files %}
	                       <a href="#{{transaction_file.batch_id}}" class="list-group-item">
	                           {{forloop.counter}} 
	                           <i class="fa fa-file-o fa-fw"></i>
	                           {{transaction_file.file_name}}
	                           <em><b>Loaded:</b>{{transaction_file.created| time:"H:i"}}</em>
	                           <b>Pending:</b> 
	                           		{% if data.total_not_consumed > 0 %}
	                           			<span style="color:red">{{data.total_not_consumed}}</span>
	                           		{% else %}
	                           			<span>{{data.total_not_consumed}}</span>
	                           		{% endif %}
	                           <b>Total:</b> {{data.total_consumed}}
	                           <b>  Batch:</b> {{transaction_file.batch_id}}
	                       </a>
                       {% endfor %}
                    </div>
                </div>
            </div>
		</div>
	</div>
 </div>
{% endblock main %}
