{% extends "section.html"%}
{% load i18n %}
{% load admin_urls %}
{% load common_tags %}

{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="{% url "section_index_url"  %}">Home</a> &rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> &rsaquo; Synchronize Devices with Server</div>
{% endblock %}


{% block content %}
<h3>Synchronize Devices with Server</h3>
<ul>
<LI>You are host "{{ hostname }}".
<LI>Your locally generated transactions can be found <A href="{% url 'admin:sync_outgoingtransaction_changelist' %}">here</A>
<LI>View all <A href="{% url 'admin:sync_producer_changelist' %}?is_active__exact=1">Producers</A>
</UL>

{% block usb_sync %}(USB Sync not available){% endblock usb_sync %}

<table>
<thead>
<th></th>
<th>Producer</th>
<th>Unlock</th>
<th>Sync URL</th>
<th>Transactions</th>
<th>URL</th>

{% if show_checkin_link %}<th>Return URL</th>{% endif %}

<th>Last Sync</th>
<th>Status</th>
</thead>
<tbody>
{% for producer in producers %}
    {% if producer.name == selected_producer %}
        <tr style="background: LightYellow;">
    {% else%}
        <tr class="{% cycle 'row1' 'row2' %}">
    {% endif %}
    <td>{{ forloop.counter }}.&nbsp;</td>
    <td>{{ producer.name }}</td>
    {% block return_app %}
    	<td><A href="/dispatch/return/{{ producer.name }}/">unlock {{ producer.name }}</A></td>
    {% endblock return_app %}
    {% block consuming_app %}
    	<td><A href="{% url 'sync_consume_producer_url' producer=producer.name %}">synchronize with server</A></td>
    {% endblock consuming_app %}
    <td><A href="{% url 'admin:sync_outgoingtransaction_changelist' %}?is_consumed_server__exact=0&producer={{ producer.name }}">producer outgoing transactions</A></td>    
    {% if show_checkin_link %}
        <td><A href="/{{ CHECKOUT_APP }}/return/{{ producer.name }}/">Return in netbook</A></td>
    {% endif %}
    <td>{{ producer.url }}</td>
    <td>{{ producer.sync_datetime|timesince }} ago</td>
    <td><div style="{% if producer.sync_status == 'OK' %}color:green;{% endif%}{% if producer.sync_status == 'Error' %}color:red;{% endif%}">{{ producer.sync_status }}</div></td>        
    </tr> 

{% endfor %}
</tbody>
</table>

{% block play_transactions %}{% endblock play_transactions %}

{% endblock content %}

