
{% extends "admin/base.html" %}
{% block usertools %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block title %}Render {{ obj.model }}{% endblock %}
{% block content %}
<div style="text-align:right">
<input type="button" 
        onclick="window.open('', '_self', ''); window.close();" value="Close"></div>
<h2>{{ obj.model }}</h2>
<h3>pk: {{ obj.pk }}</h3>

<div class="results">
    <table id="result_list" width="100%">
    <thead><tr><th>Field</th><th>Value</th></tr></thead>
    <tbody>
    {% for field, value in obj.fields.items %}
        <tr class="{% cycle 'row1' 'row2' %}"><td>{{ field }}</td><td>{{ value }}</td></tr>
    {% endfor%}
    </tbody>
    </table>
</div>
{% endblock content %}
